.img-icon {
    float: left;
    width: 2rem;
}
.header {
    margin: 0px;
    padding: 5px;
}

.tweet {
    margin: 2px;
    padding: 5px;
    word-break: break-word;
}
.user {
    margin-left: 35px;
}
.user>div {
    color: grey;
    font-size: 12px;
}
