.example-viewport {
    height: 97vh;
    width: 700px;
  }
  
  .example-item {
    background-color: #F7F7F7;
    margin: 6px;
    border-radius: 4px;
    box-shadow: 2px 3px 1px 0px grey;
  }

  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
